<form [formGroup]="crearEventoForm">
  <div class="container">
    <div class="row g-3">
      <div class="col-12">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" formControlName="nombre" class="form-control" id="nombre" />
      </div>

      <div class="col-12">
        <label for="descripcion" class="form-label">Descripción:</label>
        <textarea formControlName="descripcion" class="form-control" id="descripcion"></textarea>
      </div>

      <div class="col-6">
        <label class="form-label">Tipo:</label>
        <select formControlName="tipo" class="form-select">
          <option value="">Seleccione un tipo</option>
          <option *ngFor="let item of tiposDeEvento; trackBy: trackByFn" [value]="item">{{ item }}</option>
        </select>
      </div>

      <div class="col-6">
        <label for="direccion" class="form-label">Dirección:</label>
        <input type="text" formControlName="direccion" class="form-control" id="direccion" />
      </div>

      <div class="col-6">
        <label class="form-label">Elige el departamento:</label>
        <select formControlName="ciudad" class="form-select">
          <option value="">Seleccione un departamento</option>
          <option *ngFor="let item of ciudades; trackBy: trackByFn" [value]="item">{{ item }}</option>
        </select>
      </div>



      <div formArrayName="localidades" class="col-12">
        <div *ngFor="let localidad of localidades.controls; let i = index" [formGroupName]="i" class="mb-3">
          <div class="row">
            <div class="col-md-4">
              <label for="nombreLocalidad-{{i}}" class="form-label">Nombre de Localidad:</label>
              <input type="text" formControlName="nombre" class="form-control" id="nombreLocalidad-{{i}}" />
            </div>
            <div class="col-md-4">
              <label for="precioLocalidad-{{i}}" class="form-label">Precio de la localidad:</label>
              <input type="text" formControlName="precio" class="form-control" id="precioLocalidad-{{i}}" />
            </div>
            <div class="col-md-4">
              <label for="capacidadMaxima-{{i}}" class="form-label">Capacidad máxima:</label>
              <input type="text" formControlName="capacidadMaxima" class="form-control" id="capacidadMaxima-{{i}}" />
            </div>
          </div>
          <button type="button" class="btn btn-danger mt-2" (click)="eliminarLocalidad(i)">Eliminar Localidad</button>
        </div>
      </div>

      <div class="col-12 text-center">
        <button type="button" class="btn btn-secondary" (click)="agregarLocalidad()">Agregar Localidad</button>
      </div>

      <div class="col-12">
        <label class="form-label">Imagen portada: </label>
        <div class="d-flex gap-2">
          <input type="file" (change)="onFileChange($event, 'portada')" class="form-control" />
          <button type="button" class="btn btn-primary" (click)="subirImagen('portada')"><i class="fa-solid fa-cloud-arrow-up"></i> Subir</button>
          <button type="button" class="btn btn-danger" (click)="eliminarImagen('portada')"><i class="fa-solid fa-trash"></i> Eliminar</button>
        </div>
      </div>

      <div class="col-12">
        <label for="imagenLocalidades" class="form-label">Imagen localidades:</label>
        <div class="d-flex gap-2">
          <input type="file" (change)="onFileChange($event, 'localidades')" class="form-control" />
          <button type="button" class="btn btn-primary" (click)="subirImagen('localidades')"><i class="fa-solid fa-cloud-arrow-up"></i> Subir</button>
          <button type="button" class="btn btn-danger" (click)="eliminarImagen('localidades')"><i class="fa-solid fa-trash"></i> Eliminar</button>
        </div>
      </div>

      <div class="col-12 text-center">
        <button type="submit" class="btn btn-primary mt-4" (click)="crearEvento()">
          <i class="fa-solid fa-plus me-2"></i> Crear evento
        </button>
      </div>
    </div>
  </div>
</form>