<div class="container mt-5">
  <div class="card">
    <div class="card-header p-4">
      <h5 class="mb-0">
        <i class="fa-solid fa-lock me-3"></i>Cambiar Contraseña
      </h5>
    </div>
    <div class="card-body p-4">
      <form [formGroup]="cambiarPasswordForm" (ngSubmit)="cambiarPassword()" novalidate>

        <div class="mb-3">
          <label for="email" class="form-label">Correo:</label>
          <input
            type="email"
            formControlName="email"
            class="form-control input"
            id="email"
            placeholder="Introduce tu correo"
          />
        </div>

        <div class="mb-3">
          <button type="button" class="button-confirm" (click)="enviarCodigo()" [disabled]="codigoEnviado">
            Enviar código
          </button>
        </div>

        <div class="mb-3">
          <label for="codigoVerificacion" class="form-label">Código:</label>
          <input
            type="text"
            formControlName="codigoVerificacion"
            class="form-control input"
            id="codigoVerificacion"
            placeholder="Escribe el código enviado"
            required
          />
        </div>

        <div class="mb-3">
          <label for="passwordNueva" class="form-label">Nueva Contraseña:</label>
          <input
            type="password"
            formControlName="passwordNueva"
            class="form-control input"
            id="passwordNueva"
            placeholder="Introduce tu nueva contraseña"
            required
          />
        </div>

        <div class="mb-3">
          <label for="confirmNewPassword" class="form-label">Repetir Contraseña:</label>
          <input
            type="password"
            formControlName="confirmNewPassword"
            class="form-control input"
            id="confirmNewPassword"
            placeholder="Repite tu nueva contraseña"
            required
          />
        </div>

        <div class="col-12" *ngIf="cambiarPasswordForm.hasError('passwordsMismatch')">
          <p class="text-danger">Las contraseñas no coinciden</p>
        </div>

        <div class="mt-4">
          <button type="submit" class="button-confirm" [disabled]="cambiarPasswordForm.invalid">
            Cambiar Contraseña
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
