<div class="container mt-5">
    <div class="card">
      <div class="card-header p-4">
        <h5 class="mb-0">
          <i class="fa-solid fa-lock me-3"></i>Cambiar Contraseña
        </h5>
      </div>
      <div class="card-body p-4">
        <form [formGroup]="cambiarPasswordForm" (ngSubmit)="cambiarPassword()" novalidate>
          
          <div class="col-md-6">
            <label for="email" class="form-label">Correo:</label>
            <input type="email" formControlName="email" class="form-control" id="email" placeholder="Introduce tu correo" >
          </div>
  
          <div class="col-12">
            <button type="button" class="btn btn-primary" (click)="enviarCodigo()" [disabled]="codigoEnviado">Enviar código</button>
          </div>
  
          <div class="col-md-6 mt-4">
            <label for="codigoVerificacion" class="form-label">Código:</label>
            <input type="text" formControlName="codigoVerificacion" class="form-control" id="codigoVerificacion" placeholder="Escribe el código enviado" required>
          </div>
  
          <div class="col-md-6 mt-4">
            <label for="passwordNueva" class="form-label">Nueva Contraseña:</label>
            <input type="password" formControlName="passwordNueva" class="form-control" id="passwordNueva" placeholder="Introduce tu nueva contraseña" required>
          </div>
  
          <div class="col-md-6 mt-4">
            <label for="confirmNewPassword" class="form-label">Repetir Contraseña:</label>
            <input type="password" formControlName="confirmNewPassword" class="form-control" id="confirmNewPassword" placeholder="Repite tu nueva contraseña" required>
          </div>
  
          <div class="col-12" *ngIf="cambiarPasswordForm.hasError('passwordsMismatch')">
            <p class="text-danger">Las contraseñas no coinciden</p>
          </div>
  
          <div class="col-12 mt-4">
            <button type="submit" class="btn btn-primary" [disabled]="cambiarPasswordForm.invalid">Cambiar Contraseña</button>
          </div>
          
        </form>
      </div>
    </div>
  </div>
  