<div class="container mt-5">
  <div class="card">
    <div class="card-header p-4">
      <h5 class="mb-0 title">
        <i class="fa-solid fa-right-to-bracket me-3"></i>Inicio de sesión
      </h5>
    </div>
    <div class="card-body p-4">
      <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate class="form">
        <label for="correo" class="form-label">Email:</label>
        <input type="email" formControlName="correo" class="input" id="correo" placeholder="Introduce tu email" />
        
        <label for="password" class="form-label">Contraseña:</label>
        <input type="password" formControlName="password" class="input" id="password" placeholder="Introduce tu contraseña" />
        
        <button type="submit" class="button-confirm" [disabled]="loginForm.invalid">
          <i class="fa-solid fa-right-to-bracket me-2"></i>Iniciar sesión
        </button>

        <div class="signin">
          <a [routerLink]="['/activar-cuenta']">¿No puedes iniciar sesión? Activa tu cuenta aquí</a>
        </div>
        <div class="signin">
          <a [routerLink]="['/cambiar-password']">¿Se te olvidó tu contraseña? Cámbiala aquí</a>
        </div>
      </form>
    </div>
  </div>
</div>
