<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
    <div class="col-md-3 mb-2 mb-md-0">
      <a routerLink="/" class="d-inline-flex link-body-emphasis text-decoration-none align-items-center">
        <i class="fa-solid fa-ticket fs-3"></i>
        <span class="fs-4 ms-3 me-3">{{ title }}</span>
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">


      <ng-container *ngIf="isAdmin">
        <li><a routerLink="/gestion-eventos" class="nav-link px-2">Gestion Eventos</a></li>
        <li><a routerLink="/gestion-cupones" class="nav-link px-2">Gestion Cupones</a></li>
      </ng-container>

      <ng-container *ngIf="!isAdmin && isLogged">
        <li><a routerLink="/mis-cupones" class="nav-link px-2">Mis Cupones</a></li>
        <li><a routerLink="/mi-historial" class="nav-link px-2">Mi Historial</a></li>
        <li><a routerLink="/carrito" class="nav-link px-2">Carrito</a></li>
      </ng-container>

      <!-- Menú común para todos los usuarios logueados -->
      <li *ngIf="isLogged" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle px-2" id="administrarCuentaDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Gestionar Cuenta
        </a>
        <ul class="dropdown-menu" aria-labelledby="administrarCuentaDropdown">
          <li><a class="dropdown-item" routerLink="/editar-cuenta">Editar Cuenta</a></li>
          <li><a class="dropdown-item" routerLink="/cambiar-password">Cambiar Contraseña</a></li>
        </ul>
      </li>
    </ul>

    <div class="col-md-3 d-flex text-end align-items-center">
      <ng-container *ngIf="!isLogged; else loggedIn">
        <button type="button" routerLink="/login" class="button me-2">Login</button>
        <button type="button" routerLink="/registro" class="button">Registro</button>
      </ng-container>

      <ng-template #loggedIn>
        <label class="me-3 text-light">Bienvenido {{ email }}</label>
        <button type="button" (click)="logout()" class="button">Salir</button>
      </ng-template>
    </div>
  </header>
</div>