/* app-header.component.css */
:host {
    display: block;
    background-color: #000000;  /* Aplica el color de fondo */
    width: 100%;                /* Asegura que el encabezado ocupe todo el ancho */
  }
  
  .container .fs-4 {
    color: #007acc; /* Cambia este código de color por el que prefieras */
  }
  